@model IEnumerable<WorkflowInstance>
@using Elsa.Client.Models
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <form method="post" asp-action="CreateWorkflowItem">
        <button class="btn btn-primary" type="submit" value="BasicApproval" name="workflowName">Create Basic Approval item</button>
        <button class="btn btn-primary" type="submit" value="DualApproval" name="workflowName">Create Dual Approval item</button>
    </form>
</div>

<table class="w-100 table table-bordered table-striped table-hover mt-5">
    <thead class="table-primary">
        <tr>
            <th>Status</th>
            <th>Id</th>
            <th>CorrelationId</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (WorkflowInstance i in Model)
            {
                <tr>
                    <td>@i.WorkflowStatus.ToString()</td>
                    <td>@i.Id</td>
                    <td>@i.CorrelationId</td>
                    <td>@i.Name</td>
                    <td>
                        @if (i.BlockingActivities.Any())
                        {
                            var blockingActivity = i.BlockingActivities.First();
                            var activityId = blockingActivity.ActivityId;
                            var actions = i.ActivityData[activityId];
                            if (actions != null && actions["Actions"] != null)
                            {
                                <form method="post" asp-action="SendWorkflowAction" asp-route-instanceId="@i.Id" asp-route-correlationId="@i.CorrelationId" asp-route-activityId="@activityId">
                                    @foreach (var action in actions)
                                    {
                                        <button class="btn btn-danger" type="submit" value="@action" name="action">@action</button>
                                    }
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No instances found</td>
            </tr>
        }
    </tbody>
</table>